{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="height: 70%;">
<div class="text-centre"><p class="h4 mb-4 text-center">New Project</p></div>
<form class="border border-dark p-5" action="{%url 'add_project'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}    
    {% bootstrap_form form%}
    <button class="btn btn-warning btn-block my-4" type="submit">Add Project</button>
</form>
</div>

{% endblock %}
