bootstrap4==0.1.0
certifi==2020.11.8
cloudinary==1.22.0
config==0.3.9
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django
django-bootstrap4
django-heroku
django-registration
djangorestframework
gunicorn==19.9.0
Pillow
psycopg2
python-decouple==3.1
pytz==2019.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==4.1.2
