{% extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="col-12 col-md-3 dont-move">
            <form  role="search" action="{% url 'search_project' %}" >
            {% csrf_token %}
                <div class="search-container">
                    <div class="search">
                    <input required name="project" type="text" id="zip-code-input" placeholder="Search Project">
                    <button type="submit" style="border:0; background: transparent;"><i class="fa fa-search"></i> </button> </a>
                </form>
              </div>
            </div>


{% if projects %}
<div class="submissions-wrapper">
	{% for project in projects %}
	<div class="col-md-4">
       <!-- Card Dark -->
    <div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <a href="{% url 'project' project.id %}"><img class="card-img-top" src="{{project.screenshot.url}}"
        alt="Card image cap">
        </a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
  
      <!-- Social shares button -->
      <a class="activator waves-effect mr-4" href="{{project.link}}" ><i class="fas fa-share-alt white-text"></i></a>
      <!-- Title -->
      <h4 class="card-title"><a href="{% url 'project' project.id %}">{{project.name}}</a></h4>
      <time>{{project.post_date}}</time>
      <hr class="hr-light">
      <!-- Text -->
      <p class="card-text white-text mb-4">{{project.description}}
        </p>
      <!-- Link -->
      <a href="{% url 'project' project.id %}" class="white-text d-flex justify-content-end">
        <h5>Rate Project <i class="fas fa-angle-double-right"></i></h5>
      </a>
      <div class="card__action">
        <div class="card__author">
            <img src="{{project.profile.profile_pic.url}}" alt="user">
            <div class="card__author-content">
                By <a href="{% url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a>
            </div>
        </div>
    </div>
  
    </div>
    {% endfor %}
  </div>
 </div>
</div>
  <!-- Card Dark --> 
  {% endif %}
  {% endblock content %}