{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- STYLES CSS -->
        <link rel="stylesheet" href="/awardsapp/static/css/styles.css">
        <title>Awwwards</title>
    </head>
    <body id="body">
        <div >
            <nav>
              <div class="logo">
                Awwwards
              </div>
              <i onclick="openNav()">&#9776;</i>
            </nav>
          
            <div class="side-nav" id="side-nav">
              <i onclick="closeNav()">&times;</i>
              <a href="/">Home</a>
              <form class="form-inline md-form mr-auto mb-4" role="search" , action="{% url 'search_project' %}">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search By Project" name="project" aria-label="Search">
                  <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit">Search</button>
              </form>
              <a href="{% url 'profile' request.user.username %}">Profile</a>
              <a href="{% url 'add_project' %}">Add Project</a>
             
              <a href="{% url 'logout' %}">LogOut</a>
            </div>
            <div id="overlay"></div>
          </div>
                   
    </body>
    <!-- MAIN JS -->
    <script src="/awardsapp/static/js/main.js"></script>
</html>